<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /vegginc/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /vegginc/index.html [L]

</IfModule>